{% extends 'base.html' %}

{% block title %}
	
{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/detail.css')}}">
{% endblock %}

{% block main %}
	<h3 class="page-title">{{question.title}}</h3>
	<p class="question-info">
		<span class="question-author">作者：{{question.author.username}}</span>
		<span>时间：{{question.create_time}}</span>
	</p>
	<hr>
	<p class="question-content">{{question.content}}</p>
	<hr>
	<h4>评论：（0）</h4>
	<form action="{{url_for('add_answer')}}" method="POST" >
		<div class="form-group" >
			<input type="text" class="form-control" 
			placeholder="填写评论" name="answer_content">
			<input type="hidden" name="question_id" 
			value="{{question.id}}" >
		</div>
		<div class="form-group" style="text-align: right;">
			<button class="btn btn-primary" >评论</button>
		</div>
	</form>
	<ul class="answer-list">
		{% for answer in question.answers %}
			<li>
				<div class="user-info">
					<img src="{{url_for('static',filename='images/logo.png')}}" class="avatar">
					<span class="username">{{answer.author.username}}</span>
					<span class="create-time">{{answer.create_time}}</span>
				</div>
				<p class="answer-content">{{answer.content}}</p>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
