{% extends 'base.html' %}

{% block title %}登录{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename=('css/login.css'))}}">
{% endblock %}

{% block main %}
	<h3 class="page-title">登录</h3>
	<form action="" method="POST" >
		<div class="form-container">
			<div class="form-group" >
				<input type="text" class="form-control" placeholder="手机号码" name="telephone" >
			</div>
			<div class="form-group" >
				<input type="password" class="form-control" placeholder="密码" name="password" >
			</div>
			<div class="form-group">
				<button class="btn btn-primary btn-block">登录</button>
			</div>
		</div> 

	</form>
{% endblock %}
