{% extends 'base.html' %}

{% block title %}发布问答{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{{url_for('static',filename='css/question.css')}}">
{% endblock %}
	
{% block main %}
		<h3 class="page-title">发布问答</h3> 
		<form action=""method="post">
			<div class="form-container">
				<div class="form-group">
					<input type="text" placeholder="请输入标题" name="title" class="form-control">
				</div>
				
				<div class="form-group">
					<textarea name="content" rows="7"  placeholder="请输入内容" class="form-contorl"></textarea>
				</div>

				<div class="form-group" >
					<button class="btn btn-primary" >发布</button>
				</div>	
			</div>
		</form>	
{% endblock %}