.question-info{
	margin-top: 15px;
	text-align: center;
}

.question-info .question-author{
	margin-right: 20px;
}

.answer-list{
	padding-left: 0;
}

.answer-list li{
	list-style: none;
	border-bottom: 1px solid #eee;
	padding-top: 10px;
}

.avatar{
	height: 40px;
	width: 40px;
	border-radius: 50%;
}	

.user-info{
	font-size: 16px;
	color: #9b9b9b;
	line-height: 40px;	
}
.user-info .username{
	margin-left: 15px;
}
.user-info .create-time{
	float: right;

}
.answer-content{
	margin-left: 60px;
}